<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <title>Rovird</title>
  </head>
  <body style="background-color: #222222;">
    <!-- scripts start -->
    <!-- scripts end -->

    <!-- hero start -->
    <section class="hero is-fullheight" id="hero">
      
      <!-- hero head start -->
      <div class="hero-head">

        <!-- nav columns start -->

        <!-- nav columns end -->

      </div>
      <!-- hero head end -->

      <!-- hero body start -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title brand the-title">
            Error <%= status %>:
          </h1>
          <h2 class="subtitle brand-lighter the-title">
            <%= message %>
          </h2>
        </div>
      </div>
      <!-- hero body end -->
    </section>
    <!-- hero end -->

    <!-- footer start -->

    <!-- footer end -->
  </body>
</html>