<!DOCTYPE html>
<html>

<head>
  <title>Rovird</title>
  <%- include partials/head.ejs %>
    <meta name="description" content="Roblox Virus Detector">
    <meta property="og:description" content="Roblox Virus Detector.">
    <meta name="twitter:description" content="Roblox Virus Detector.">
    <meta itemprop="description" content="Roblox Virus Detector.">
    <script type="text/javascript" src="js/mainPage.js"></script>
</head>

<body>
  <section class="hero">
    <div class="hero-body">
      <a class="title is-spaced" href="/">
        Rovird
      </a>
      <p class="subtitle">
        Advanced Roblox Virus Detector
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="field has-text-centered">
            <label class="label">Asset ID</label>
            <div class="control">
              <input id="asset-id-input" class="input has-text-centered" type="text" placeholder="Asset ID" onkeypress="validateId(event)">
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <button onclick="submitAsset()" id="submit-asset" class="button is-primary">
                Submit
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>