<!DOCTYPE html>
<html>

<head>
  <title>Rovird</title>
  <%- include partials/head.ejs %>
  <meta name="description" content="Roblox Virus Detector">
  <meta property="og:description" content="Roblox Virus Detector.">
  <meta name="twitter:description" content="Roblox Virus Detector.">
  <meta itemprop="description" content="Roblox Virus Detector.">
</head>

<body>

</body>

</html>