<!DOCTYPE html>
<html>

<head>
  <title>Rovird</title>
  <%- include partials/head.ejs %>
    <meta name="description" content="Roblox Virus Detector">
    <meta property="og:description" content="Roblox Virus Detector.">
    <meta name="twitter:description" content="Roblox Virus Detector.">
    <meta itemprop="description" content="Roblox Virus Detector.">
    <script type="text/javascript" src="js/viewJobs.js"></script>
</head>

<body>
  <section class="hero">
    <div class="hero-body">
      <p class="title">
        Rovird
      </p>
      <p class="subtitle">
        Advanced Roblox Virus Detector
      </p>
    </div>
  </section>
</body>

</html>