pre {
  max-height: 40em;
  width: 60%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 5em !important;
  margin-top: 2em !important;
}

code {
  line-height: 2 !important;
  display: inline-block;
}

.flags {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.flag-text {
  color: #ff0000;
  text-align: center;
}

.flag-line {
  color: #ffffff
}

.no-flags {
  color: #00ff00;
  text-align: center;
}

.main-or {
  padding-top: 2em;
  font-size: larger;
  color: #fff;
}